@model IEnumerable<SR_Luedde.Models.Student>

@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    //the following are search options as radio buttons to add greater search functionality
    <b> Search : </b>

    @Html.RadioButton("option", "Name") <text>Name</text>
    @Html.RadioButton("option", "School") <text >School</text>
    @Html.RadioButton("option", "Major")<text>Major</text>
    @Html.RadioButton("option", "Date")<text>Date</text>
    @Html.RadioButton("option", "Active")<text>Active</text>

    @Html.TextBox("search")
    <input type="submit"
           name="submit"
           value="Search" />
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.School)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Major)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th></th>
    </tr>
    @if (Model.Count() <= 0)
    {
        <tr>
            <td colspan="3"> Please Try A Different Search Parameter. Thanks! </td>
        </tr>
    }
    else
    {

        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.School)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Major)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Active)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Add", "Create", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    }
</table>